<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded justify-content-center mx-0">
        <div class="col-md-6 bg-light rounded">
            <div class=" container row">
                <div class="ml-5 col-md-12">
                    <h2 class="text-center mt-5">Edit Product</h2>
                    <form action="/admin/products/edit_product/{{product._id}}" method="post">
                        <label class="text-dark" for="">Name</label>
                        {{!-- enctype="multipart/form-data" --}}
                        <input type="text-dark" name="name" class="form-control mb-2" value="{{product.name}}">

                        <label class="text-dark" for="">Company</label>
                        <input type="text" name="company" class="form-control mb-2" value="{{product.company}}">


                        <label class="text-dark" for="" class="mb-2">Category</label><br>
                        <select name="category" class="form-control mb-2">
                            <option>{{product.category}}</option>
                            <option>BIKES</option>
                            <option>APPARELS</option>
                            <option>ACCESSORIES</option>
                        </select><br>

                        <div id="prdtType" class="pb-3">
                            <p class="text-dark">Types</p>
                            <input type="radio" class="" value="{{product.type}}" name="type" checked="checked">
                            <label for="" class="text-dark" style="margin-right: 10px;">{{product.type}}</label>
                            {{#each bikeTypes}}
                            {{#each types}}
                            <div class="">
                                <input type="radio" class="" value="{{this}}" name="type">
                                <label for="" class="text-dark" style="margin-right: 10px;">{{this}}</label>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>

                        <label class="text-dark" for="">Description</label>
                        <textarea name="description" class="form-control" rows="5">{{product.description}}</textarea>

                        <label class="text-dark" for="">Price</label>
                        <input type="Number" name="price" class="form-control mb-2" value="{{product.price}}">

                        <label class="text-dark" for="">Stock</label>
                        <input type="number" id="stock1" name="stock" class="form-control mb-2" value="{{product.stock}}">
                        <input type="number" id="stock2" name="stock17inch" class="form-control mb-2"
                            value="{{product.stock17inch}}">
                        <input type="number" id="stock3" name="stock19inch" class="form-control mb-2"
                            value="{{product.stock19inch}}">

                        {{!-- <label class="text-dark" for="">Image</label>
                        <input type="file" name="image" class="form-control mb-2"> --}}

                        <button type="submit" class="btn btn-success my-4">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->


<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Heal Cycles</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("select").change(function () {
            var str = $(this).val(); // On Change get the option value
            var res = str.split(".");
            if (res[0] == 'BIKES') {
                document.getElementById("prdtType").style.display = "block";
                document.getElementById("stock2").style.display = "block";
                document.getElementById("stock3").style.display = "block";
                document.getElementById("stock1").style.display = "none";
            }
            else {
                document.getElementById("prdtType").style.display = "none";
                document.getElementById("stock2").style.display = "none";
                document.getElementById("stock3").style.display = "none";
                document.getElementById("stock1").style.display = "block";
            }
        });
    });         
</script>