<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded justify-content-center mx-0">
        <div class="col-md-12 bg-light rounded">
            <h4 class="mb-4 text-dark">Users</h4>
            <table class="table" id="usersTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-dark">Sl No</th>
                        <th scope="col" class="text-dark">Name</th>
                        <th scope="col" class="text-dark">Email</th>
                        <th scope="col" class="text-dark">Mobile No.</th>
                        <th scope="col" class="text-dark">Options</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th class="text-dark" scope="row">{{@index}}</th>
                        <td class="text-dark">{{this.name}}</td>
                        <td class="text-dark">{{this.email}}</td>
                        <td class="text-dark">{{this.phone}}</td>
                        <td id="{{this._id}}">
                            {{#if this.blockstatus}}
                            <button class="btn btn-info" onclick="userAction('{{this._id}}','unBlock')">UnBlock</button>
                            {{else}}
                            <button class="btn btn-danger" onclick="userAction('{{this._id}}','block')">Block</button>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Blank End -->


<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Your Site Name</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>
<script>
    function userAction(userId, action) {
        if (confirm("Do you want to " + action + " the user ?") == true) {
            $.ajax({
                url: '/admin/userAction',
                data: {
                    usrId: userId,
                    action: action
                },
                method: 'post',
                success: (response) => {
                    $("#" + userId).load(location.href + " #" + userId);
                }
            })
        }

    }
</script>